/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url("components/container.css");
@import url("components/banner.css");
@import url("components/footer.css");
@import url("components/button.css");

/* Utilities */
body {
  margin: 0;
  font-family: 'Raleway',
}

h1, h2 {
  font-family: 'Raleway',
}

h3, h4 {
  font-family: 'Roboto Mono',
}

a {
  text-decoration: none;
  color: #6C534E;
}

/* Custom design below! */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*Responsiveness*/
@media (max-width: 960px) {
  .responsiveness {
    width: 700px;
  }
}
@media (max-width: 720px) {
 .responsiveness {
    width: 50px;
  }
}
@media (max-width: 540px) {
  .responsiveness {
    width: 300px;
  }
}
