/* Fonts */
/*@import url('https://fonts.googleapis.com/css2?family=Abel&family=Montserrat:wght@300&display=swap');

/* Fontawesome */
/*@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

@import url("components/container.css");
@import url("components/banner.css");
@import url("components/footer.css");
@import url("components/button.css");*/

/* Utilities */
/*body {
  margin: 0;
  font-family: 'Montserrat',
}

h1, h2 {
  font-family: 'Abel',
}

h3, h4 {
  font-family: 'Montserrat',
}

a {
  text-decoration: none;
}*/

/* Custom design below! */

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/*Responsiveness*/
/*@media (max-width: 960px) {
   For a screen < 960px, this CSS will be read
  .container {
    width: 700px;
  }
}*/
/*@media (max-width: 720px) {
   For a screen < 720px, this CSS will be read
  .container {
    width: 500px;
  }
}*/
/*@media (max-width: 540px) {
   For a screen < 540px, this CSS will be read
  .container {
    width: 300px;
  }
}
*/

@charset "utf-8";
/* CSS Document */

  body{
  letter-spacing:0.02em;
  font-family: 'Roboto', sans-serif;
  color:#73777a;
  }
  h1,h2,h3,h4,h5,h6{
  font-family: 'Sora', sans-serif;
  color:#252525;
  }
    .font-weight-medium{
    font-weight:500;
  }
  .bg-light{
  background-color:#f6f0f0 !important;
  }
  p{
  line-height:1.6em !important;
  }
  .navbar-brand{
  font-size:18px;
  font-weight:500;
  color:#73777a !important;
  letter-spacing:1px;
  margin-top:4px;
  }
  a{
  color:#ADC698;
  transition:all 0.3s ease;
  }
  a:hover{
  color:#73777a;
  text-decoration:none;
  }

  .btn{
  font-size:13px;
  font-weight:500;
  text-transform:uppercase;
  font-family: 'Sora', sans-serif;
  padding:10px 20px;
  }
  .btn-primary{
  background-color:#ADC698;
  border-color:#ADC698;
  }
  .btn-primary:hover{
  background-color:#ADC698;
  border-color:#73777a;
  text-decoration: none;
  }
  .btn-lg{
  padding:14px 24px;
  }
  .banner-bg {
/*    background-image: url(../images/Schloss-Hugenpoet-new.jpeg);*/
    background-repeat: no-repeat;
    background-position: right;
    background-size:contain;
    }
  .dd{
  background-color:#fff;
  cursor:pointer;
  transition:all 0.3s ease;
  }
  .dd:hover{
  background-color:#ADC698;
  }
  .dd i{
  font-size:46px;
  margin-bottom:20px;
  }
  .dd:hover i{
  color:#fff;
  }
  .dd h5{

  }
  .dd:hover h5{
  color:#fff;
  }
  .gg img {
     filter: grayscale(100%);
   opacity:50%;
   transition:all 0.3s ease;
   cursor:pointer;
     }
   .gg img:hover {
     filter: grayscale(0.01%);
   opacity:1;
     }
   ul.ll{
    margin:0;
    padding:0;
    list-style-type:none;
   }
   ul.ll li{
     padding-top:12px;
   }
   ul.ll li a{
    color:#73777a;
    font-weight:500;
   }
    ul.ll li a:hover{
    color:#fd7e47;
   }
   @media(max-width:1260px){
     .banner-bg {
    background-size: cover;
  background-position:center right -250px;
    }
   }
    @media(max-width:960px){
     .banner-bg {
   background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../img/banner-bg.jpg);
   background-position:center right;
    }
  .banner-bg h2{
  color:#ADC698;
  }
  .banner-bg p{
  color:rgba(255,255,255,0.8) !important;
  }
   }
