/*s*/

/*.btn-banner{
  background-color: #white;
  padding: 8px 20px;
  border:3px dotted black;
  color: grey;
  border-radius: 15px;
  display: inline-block;
  margin: 30px;
  transition: 0.7s;
}

.btn-banner:hover {
 color: #5B5940;
}*/

