.banner{
  background-image: url(../../images/Banner.png);
  background-size: cover;
  background-position: center;
  width:100%;
  height: 700px;
  text-align: center;
  padding: 500px 20px 20px;
  margin: 40px 40px 40px 40px;
}

.banner h1 { 
  font-site: 40px; 
  font-weight: bold; 
  color: #FFFFFF;
}

/*.btn-banner{
  background-color: #white;
  padding: 8px 20px;
  border:3px dotted black;
  color: grey;
  border-radius: 15px;
  display: inline-block;
  margin: 30px;
  transition: 0.7s;
}

.btn-banner:hover {
 color: #c57b57;
}*/

