/*.footer{
  text-align: center;
  background-color: #ADC698;
  color: #FFFFFF;
  display:flex;
  justify-content: center;
  margin: 0 auto;
  padding: 40px;
  box-shadow: 0 0 2px #ADC698;
}

.fab {
  color: #FFFFFF;
}
*/
